<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nous Contacter</title>
    <style>
        div{
          display: flex;
          justify-content: space-around;
          background-color: palevioletred;
        }   
        h3{
          font-size: 100%;
          text-align: left;
          margin-left: 10%;
          text-decoration-line: underline;
        } 
        p{
          font-size: 100%;
          width: 30%;
          padding: 3%;
        }
        .contact{
            width: 30%;
        }
    </style>
</head>
<body>
    <header>
        <%- include('menu') %>
    </header>
    <h3>Nous Contacter</h3>
    
    <div>
        <img class="contact" src="https://images.prismic.io/amnestyfr/83c69b7b298737bf154dcfca7bcbb2b11a28bea1_international-women-day.jpg?auto=compress,format" alt="Echec"/>
    <p> <strong> Afrique de l’Ouest et Afrique centrale (Dakar, Sénégal)</strong><br>
        <strong>Téléphone :</strong> +221 33 869 30 03<br>

        <strong>Adresse :</strong> Point E – Immeuble Malaado Plazza, 6e Etage, P.O. Box 47582, Dakar, Sénégal<br>

        <strong>Twitter :</strong> @AmnestyWARO</p>
    </div>
    
</body>

</html>