<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nos Services</title>
    <style>
        div{
          display: flex;
          justify-content: space-around;
        }   
        h1{
          font-size: 300%;
          text-align: center;
          color: palevioletred;
        } 
        p{
          font-size: medium;
          width: 50%;
          padding: 3%;
        }
    </style>
</head>
<body>
    
    <header>
        <%- include('menu') %>
    </header>

    <h1>Les droits des femmes sont des droits humains !</h1>
    <div>
        <p>
            Toute personne a droit au respect de ses droits humains. Ces droits comprennent le droit de vivre libre de toute
            violence et discrimination, le droit au meilleur état de santé physique et mentale susceptible d’être atteint,
            le droit à l’éducation, le droit à la propriété, le droit de voter et le droit à un salaire égal.
    
            Mais, partout dans le monde, de nombreuses femmes et filles sont toujours victimes de discrimination sur la base
            du sexe et du genre. Les inégalités de genre sous-tendent de nombreux problèmes qui touchent de manière
            disproportionnée les femmes et les filles, comme les violences domestiques et sexuelles, les rémunérations plus
            faibles, le manque d’accès à l’éducation et les soins de santé insuffisants.
    
            Depuis de nombreuses années, les mouvements de défense des droits des femmes luttent avec acharnement contre les
            inégalités, en faisant campagne pour que les lois changent ou en descendant dans la rue pour réclamer le respect
            de ces droits. De nouveaux mouvements fleurissent à l’ère du numérique, à l’instar de #MeToo, qui met en lumière
            la fréquence des violences liées au genre et du harcèlement sexuel.
    
            Par ses recherches et son travail de plaidoyer et de campagne, Amnesty International fait pression sur les
            personnes au pouvoir pour qu’elles respectent les droits des femmes.
    
            Sur cette page, nous étudions l’histoire des droits des femmes, ce que sont les droits des femmes et ce que fait
            Amnesty.
        </p>
    
        <iframe width="670" height="376" src="https://www.youtube.com/embed/Ak8KjZ7o59g"
            title="The bold fight for women’s rights" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
   
</body>

</html>